<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.course.studentbuycourse.dao.StudentBuyCourseMapper">
  <resultMap id="BaseResultMap" type="com.cn.course.studentbuycourse.StudentBuyCourse">
    <result column="studentid" jdbcType="INTEGER" property="studentid" />
    <result column="courseid" jdbcType="INTEGER" property="courseid" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="timechart" jdbcType="INTEGER" property="timechart" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="couponid" jdbcType="INTEGER" property="couponid" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="paytype" jdbcType="INTEGER" property="paytype" />
    <result column="timestamp" jdbcType="VARCHAR" property="timestamp" />
    <result column="billid" jdbcType="INTEGER" property="billid" />
    <result column="isvalid" jdbcType="INTEGER" property="isvalid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    studentid, courseid, score, comment, timechart, remark, couponid, money, paytype, 
    timestamp, billid, isvalid
  </sql>
  <select id="selectByExample" parameterType="com.cn.course.studentbuycourse.StudentBuyCourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from studentbuycourse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.cn.course.studentbuycourse.StudentBuyCourseExample">
    delete from studentbuycourse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cn.course.studentbuycourse.StudentBuyCourse">
    insert into studentbuycourse (studentid, courseid, score, 
      comment, timechart, remark, 
      couponid, money, paytype, 
      timestamp, billid, isvalid
      )
    values (#{studentid,jdbcType=INTEGER}, #{courseid,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, 
      #{comment,jdbcType=VARCHAR}, #{timechart,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{couponid,jdbcType=INTEGER}, #{money,jdbcType=INTEGER}, #{paytype,jdbcType=INTEGER}, 
      #{timestamp,jdbcType=VARCHAR}, #{billid,jdbcType=INTEGER}, #{isvalid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.course.studentbuycourse.StudentBuyCourse">
    insert into studentbuycourse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        studentid,
      </if>
      <if test="courseid != null">
        courseid,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="timechart != null">
        timechart,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="couponid != null">
        couponid,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="paytype != null">
        paytype,
      </if>
      <if test="timestamp != null">
        timestamp,
      </if>
      <if test="billid != null">
        billid,
      </if>
      <if test="isvalid != null">
        isvalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="timechart != null">
        #{timechart,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="couponid != null">
        #{couponid,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=INTEGER},
      </if>
      <if test="paytype != null">
        #{paytype,jdbcType=INTEGER},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=VARCHAR},
      </if>
      <if test="billid != null">
        #{billid,jdbcType=INTEGER},
      </if>
      <if test="isvalid != null">
        #{isvalid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cn.course.studentbuycourse.StudentBuyCourseExample" resultType="java.lang.Long">
    select count(*) from studentbuycourse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update studentbuycourse
    <set>
      <if test="record.studentid != null">
        studentid = #{record.studentid,jdbcType=INTEGER},
      </if>
      <if test="record.courseid != null">
        courseid = #{record.courseid,jdbcType=INTEGER},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=INTEGER},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.timechart != null">
        timechart = #{record.timechart,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.couponid != null">
        couponid = #{record.couponid,jdbcType=INTEGER},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=INTEGER},
      </if>
      <if test="record.paytype != null">
        paytype = #{record.paytype,jdbcType=INTEGER},
      </if>
      <if test="record.timestamp != null">
        timestamp = #{record.timestamp,jdbcType=VARCHAR},
      </if>
      <if test="record.billid != null">
        billid = #{record.billid,jdbcType=INTEGER},
      </if>
      <if test="record.isvalid != null">
        isvalid = #{record.isvalid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update studentbuycourse
    set studentid = #{record.studentid,jdbcType=INTEGER},
      courseid = #{record.courseid,jdbcType=INTEGER},
      score = #{record.score,jdbcType=INTEGER},
      comment = #{record.comment,jdbcType=VARCHAR},
      timechart = #{record.timechart,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      couponid = #{record.couponid,jdbcType=INTEGER},
      money = #{record.money,jdbcType=INTEGER},
      paytype = #{record.paytype,jdbcType=INTEGER},
      timestamp = #{record.timestamp,jdbcType=VARCHAR},
      billid = #{record.billid,jdbcType=INTEGER},
      isvalid = #{record.isvalid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>